


#row{
    color: rgb(180, 167, 151);
    border: 2px;
    background-color: pink;
}
.table{
    background-color: red;
    border-radius: 2%;
    border-color: palevioletred;
    border: 200px;
    color: wheat;

}
.hhh{
    background-image: url();

}
body{
    background-color:rgb(124, 100, 108) ;
    
}

